html{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

body{
}

.Main{
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    text-align: center;

}
hr {
    height: 2px;
    background-color: black;
}